*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* les body  */

 body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    color: #707070;
    font-weight:500 ;
    font-family: 'Segoe UI','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

/* le cadere principale */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 20% 0;
    height: 593px;
    width: 786px;
    background-color:#E4E4E4 ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

/* l'entête du cadre principale */

main .contener-head{
    margin: 22px 21px 0;
    height: 271px;
    width: 744px;
    background-color:#F5F5F5 ;
    border-radius: 2px;
}
main .contener-head p{
    text-align: center;
    margin: 72px 0 39px ;
}
.contener-head p span{
    font-size: 45px;
}
.contener-head p .yellow{
    color:#EBF148 ;
}

.contener-head p .red{
    color:#F52377 ;
}
.contener-head p .green{
    color: #76F538;

}

/* le bouton play du cadre */

.btn{
    position: relative;
    height: 97px;
    width: 97px;
    border-radius: 50%;
    margin-top: 34px;
    background: #D4D3D2;
}

.btn .triangle{
    position: absolute;
    /* border: 1px solid;
    height: 47px;
    width: 53px; */
    height: 0;
    width: 0;
    border-left: 35px solid #ABABAB;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    margin:25px 35px ;
}

/* le pied de page du cadre */

.contener-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 97px;
    width: 727px;
    border-radius: 60px;
    background-color: #BC95FF;
    margin-top: 39px;
}
button {
    height: 65px;
    width: 172px;
    border-radius: 10px;
    border: transparent;
    font-weight: inherit;
    font-size: 20px;
    color: inherit;
    font-family: inherit;
}
 .contener-footer button{ 
    cursor: pointer;
    animation: choix linear .5s infinite alternate;

}

/* les classes laissées pour le javascript */

.clic-bnt-choix{
    animation: none;
    background-color: #F93EE7;
    color:#F5F5F5 ;
}

.clic-bnt-choix-play{
    background-color: #F93EE7;
    animation: choix linear .5s infinite alternate;
    cursor: pointer;
}

.clic-triangle{
    border-left: 35px solid #945DF3 !important;
}

.btn-ouverture-sup{
    animation: ouvertureSup .5s linear forwards ;
}
.btn-ouverture-inf{
     animation: ouvertureInf .5s linear forwards; 

}
.carreaux-jeux{
    display: none;
}
footer{
    display: none;
}
.carreaux-jeux-active{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    margin:81.8px 168.1px ;
    height: 430px;
    width: 450px;
}
.carreaux-jeux .cse{
    height: 143.33px;
    width: 150px;
    border: 3px solid;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 105px;
    text-align: center;
}
.footer-active{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 97px;
    width: 727px;
    border-radius: 60px;
    background-color: #9b6dec;
    margin-top: 20px;
}

@keyframes choix{
    0%{
        box-shadow: #ababab 0px 0px 0px 0px;
    }
    25%{
        box-shadow: #ababab 0px 0px 2px 1px;
    }
    50%{
        box-shadow: #ababab 0px 0px 4px 3px;
    }
    75%{
        box-shadow: #ababab 0px 0px 8px 5px;
    }
    100%{
        box-shadow: #ababab 0px 0px 10px 6px;
    }
}

@keyframes ouvertureInf{
    0%{
            margin-top: 40px;
            opacity: 0.7;

    }

   40%{
            margin-top: 55px;
            opacity: 0.3;
    }
    80%{
        margin-top: 75px;
        opacity: 0.1;
    }
    100%{
        margin-top: 76px;
        opacity: 0;
        display: none;
    }

}

@keyframes ouvertureSup{
    0%{
        margin-top: 20px;
        opacity: 0.7;

}

40%{
        margin-top: 10px;
        opacity: 0.3;
}
80%{
    margin-top: 5px;
    opacity: 0.1;
}
100%{
    margin-top: 0px;
    opacity: 0;
}
}